/* navbar start */
.navbar{
    background-color: #02918c;
}

.navbar-nav  {
    margin-right: 0;
}

.nav-link {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
/* navbar end*/

.banner_bg{
     background: url(../images/MYFOLIObg.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 200px;
     padding-bottom: 200px;
}

.banner_text h4{
  font-size: 30px;
  color: white;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.banner_text h2{
  font-size: 68px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

/* about */

.about{
 padding-top: 80px;
 padding-bottom:80px ;
}


.about_text h2{
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
  color: #02918c;
}

.about_text p{
  color: gray;
}

.item{
  margin-top: 40px;

}

.item i{
  font-size: 40px;
  color: #219e9a;
}


/* service start */
.service{
  background: url(../images/bgtwo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
}

.service_info h3{
  font-size: 46px;
  font-weight: 700;

  color: #02918c;
}


.service_item i{
  font-size: 35px;
  color: #02918c;
}
/* service end */

/* image part */
.images_part{
  padding-top: 80px;
  padding-bottom: 80px;
}

.my_work h3{
  font-size: 46px;
  font-weight: 700;

  color: #02918c;
}